.start-screen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/startscreen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .start-button-container {
        position: absolute;
        display: contents;
        justify-content: center;
        align-items: center;
        
        img {
            filter: sepia(0.5);
            width: 40vw;
            height: auto;

            &:hover {
                cursor: pointer;
                filter: brightness(1.75);
            }
        }
    }
}